.transactions__settings {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	align-items: stretch;
}

.transactions__search {
	flex: 1;
}

.transactions__settings__right {
	display: flex;
	gap: 1.5rem;
	justify-content: flex-end;
	align-items: flex-start;
}

.transactions__accordion:not(:last-child) {
	margin-bottom: 1.5rem;
}

@media screen and (max-width: 992px) {
	.transactions__settings {
		flex-wrap: wrap;
		gap: 2rem;
		justify-content: flex-end;
	}

	.transactions__settings__right {
		flex-wrap: wrap;
	}
}

@media screen and (max-width: 576px) {
	.transactions__settings__button__text {
		display: none;
	}
}
