#newTransactionWelcome > * {
	display: flex;
	gap: 2rem;
	flex-wrap: wrap;
	justify-content: center;
}

.newTransaction__type__select {
	margin-left: auto;
}

.newTransaction__type__select button {
	text-transform: capitalize;
}

.newTransaction__loading {
	text-align: center;
	padding-block: 3rem;
}

.newTransaction__inputs {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

@media screen and (max-width: 576px) {
	.newTransaction__type__select {
		margin-inline: auto;
	}
}
