#newTransactionWelcome > * {
	display: flex;
	gap: 2rem;
	justify-content: center;
}

.newTransaction__type__select {
	margin-left: auto;
}

.newTransaction__type__select button {
	text-transform: capitalize;
}

.newTransaction__inputs {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}
