.profile__container {
	min-height: var(--min-height);
	display: flex;
}

.profile__body {
	flex: 1;
	padding-left: 1rem;
}

@media screen and (max-width: 768px) {
	.profile__body {
		padding-left: 0;
	}
}
