.home__title {
	font-size: var(--fs);
	font-weight: 400;
}

.home__transactions__title {
	display: flex;
	gap: 2rem;
	justify-content: space-between;
}

.home__transactions__title__link {
	font-size: var(--fs-s);
}

.home__transactions__container {
	position: relative;
}
.home__transactions__container::after {
	content: "";
	height: 3rem;
	background: linear-gradient(to top, var(--primary-color), transparent);
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

.home__transactions__divider {
	height: 1px;
	background-color: var(--info-color);
	border: none;
	margin-block: 0.5rem;
}
