.button {
	display: inline-flex;
	gap: 1rem;
	justify-content: center;
	align-items: center;
	color: var(--text-color);
	background-color: var(--bg-color);
	border: 0.1rem solid var(--bg-color);
	border-radius: var(--br);
	padding: 0.75rem 1.5rem;
	cursor: pointer;
	transition: background-color 200ms ease, border-color 200ms ease;
}
.button:hover {
	background-color: var(--hover-color);
	border-color: var(--hover-color);
}

/* #region Variants */
.button--primary {
	--text-color: var(--text-color);
	--bg-color: var(--primary-color);
	--hover-color: var(--primary-color-dark);
}

.button--secondary {
	--text-color: var(--text-color);
	--bg-color: var(--secondary-color);
	--hover-color: var(--secondary-color-dark);
}

.button--accent {
	--text-color: var(--primary-color);
	--bg-color: var(--accent-color);
	--hover-color: var(--accent-color-dark);
}

.button--success {
	--text-color: var(--primary-color);
	--bg-color: var(--success-color);
	--hover-color: var(--success-color-dark);
}

.button--danger {
	--text-color: var(--primary-color);
	--bg-color: var(--danger-color);
	--hover-color: var(--danger-color-dark);
}

.button--info {
	--text-color: var(--text-color);
	--bg-color: var(--info-color);
	--hover-color: var(--info-color-dark);
}

.button--transparent {
	--text-color: var(--text-color);
	--bg-color: transparent;
	--hover-color: transparent;
}

/* #endregion */

/* #region Types */
.button--outlined {
	color: var(--bg-color);
	background-color: transparent;
	transition: color 200ms ease, background-color 200ms ease, border-color 200ms ease;
}
.button--outlined:hover {
	color: var(--text-color);
	background-color: var(--hover-color);
	border-color: var(--hover-color);
}

.button--round {
	border-radius: var(--br-pill);
}

.button--full {
	width: 100%;
}

.button--centered {
	display: flex;
	margin-inline: auto;
}

.button--icon {
	flex-shrink: 0;
	width: 2.8rem;
	height: 2.8rem;
	display: inline-grid;
	place-items: center;
	padding: 0;
}
/* #endregion */

/* #region States */
.button:disabled {
	opacity: 0.5;
	cursor: no-drop;
}
.button:disabled:hover {
	color: var(--text-color);
	background-color: var(--bg-color);
	border-color: var(--bg-color);
}
/* #endregion */
