.overlay {
	display: grid;
	place-items: center;
	background-color: rgba(0 0 0 / 0.3);
	backdrop-filter: blur(0.25rem);
	position: fixed;
	inset: 0;
	bottom: 100%;
}
.overlay--show {
	bottom: 0;
}

.overlay > * {
	translate: 0 -2rem;
	transition: translate 300ms ease;
}
.overlay--show > * {
	translate: 0 0;
}
