.transaction {
	display: flex;
	gap: 2rem;
	align-items: center;
	background-color: var(--primary-color);
	padding-block: 0.5rem;
}
/* #region Types */
.transaction--income {
	--amount-color: var(--success-color);
}

.transaction--expense {
	--amount-color: var(--danger-color);
}
/* #endregion */

.transaction__date {
	font-size: var(--fs-s);
}

.transaction__body {
	flex: 1;
}

.transaction__body__top {
	font-size: var(--fs-s);
	color: var(--info-color);
	margin-bottom: 0.5rem;
}

.transaction__group {
	text-decoration: none;
	color: inherit;
}
.transaction__group:hover {
	text-decoration: underline;
}

.transaction__name {
	display: flex;
	gap: 1.5rem;
}

.transaction__name__text {
	max-height: 3.5rem;
	overflow: hidden;
	text-overflow: ellipsis;
}
.transaction__name__text::first-letter {
	text-transform: uppercase;
}

.transaction__comment {
	position: relative;
}

.transaction__hasComment {
	width: 1rem;
	height: 1rem;
	color: var(--info-color);
	cursor: pointer;
}

.transaction__amount {
	font-weight: 500;
	color: var(--amount-color);
}
