.section {
	--py: 2rem;

	color: var(--_text-color);
	background-color: var(--bg-color);
	padding-inline: 1rem;
	padding-block: var(--py);
}

/* #region Variants */
.section--primary {
	--_text-color: var(--text-color);
	--bg-color: var(--primary-color);
}

.section--secondary {
	--_text-color: var(--text-color);
	--bg-color: var(--secondary-color);
}

.section--accent {
	--_text-color: var(--primary-color);
	--bg-color: var(--accent-color);
}
/* #endregion */
