.categorySelect {
	position: relative;
}

.categorySelect__label {
	display: inline-block;
	font-size: var(--fs-s);
	margin-bottom: 0.25rem;
	margin-left: 0.25rem;
}

.categorySelect__selected {
	--_text-color: var(--text-color);
	--bg-color: var(--primary-color);

	width: 100%;
	display: flex;
	gap: 2rem;
	justify-content: space-between;
	align-items: center;
	color: var(--_text-color);
	background-color: var(--bg-color);
	border: 0.1rem solid var(--_text-color);
	border-radius: var(--br);
	padding-right: 1rem;
	padding-block: 0.25rem;
	overflow: hidden;
	user-select: none;
	cursor: pointer;
}
.categorySelect__selected:focus {
	box-shadow: 0 0 0.25rem var(--_text-color);
}

.categorySelect__options {
	padding-block: 0 !important;
}

.categorySelect__options li {
	padding: 0 !important;
	cursor: pointer;
}
