.transactionsTable__container {
	overflow-x: auto;
	padding-inline: 0.25rem;
}

.transactions__table {
	--border: 0.1rem solid var(--info-color);

	min-width: 100%;
	border-collapse: collapse;
}

.transactions__table thead {
	border-bottom: var(--border);
}

.transactions__table thead th {
	font-weight: 500;
	padding-block: 0.25rem;
	user-select: none;
	cursor: pointer;
}

.transactions__table__th {
	display: flex;
	gap: 0.5rem;
	justify-content: center;
	align-items: center;
}

.transactions__table__th__icon {
	--color: var(--text-color);

	color: var(--color);
}
.transactions__table__th__icon--info {
	--color: var(--info-color);
}

.transactions__table tbody tr {
	cursor: pointer;
}
.transactions__table tbody tr:hover {
	background-color: var(--secondary-color);
}
.transactions__table tbody tr:not(:last-child) {
	border-bottom: var(--border);
}

.transactions__table tbody tr td {
	padding: 0.5rem 1rem;
}

.transactionsTable__category {
	display: flex;
	gap: 2rem;
	align-items: center;
	font-weight: 500;
	text-transform: capitalize;
	color: var(--color);
	padding-left: 0rem !important;
}
.transactionsTable__categoryText::first-letter {
	text-transform: uppercase;
}

.transactionsTable__name {
	min-width: 12rem;
	padding-left: 1.5rem !important;
}
.transactionsTable__name::first-letter {
	text-transform: uppercase;
}

.transactionsTable__comment {
	min-width: 8rem;
}

.transactionsTable__ref {
	min-width: 10rem;
	text-align: center;
}

.transactionsTable__amount {
	font-weight: 500;
	text-align: right;
	color: var(--color);
	padding-right: 0.25rem !important;
}
/* #region Variants */
.transactionsTable__amount--expense {
	--color: var(--danger-color);
}
.transactionsTable__amount--income {
	--color: var(--success-color);
}
/* #endregion */
