.chartPie {
	--from-degree: 45deg;
	--degree: 90deg;
	--color: white;

	width: var(--size);
	height: var(--size);
	background-image: conic-gradient(
		transparent 0deg,
		transparent var(--from-degree),
		var(--color) var(--from-degree),
		var(--color) calc(var(--from-degree) + var(--degree)),
		transparent calc(var(--from-degree) + var(--degree))
	);
	border-radius: var(--br-pill);
	position: absolute;
	top: 0;
	left: 0;
}

.chartPie__info {
	--x: calc((var(--size) / 2 + var(--offset)) * sin(var(--from-degree) + var(--degree) / 2));
	--y: calc(-1 * (var(--size) / 2 + var(--offset)) * cos(var(--from-degree) + var(--degree) / 2));

	text-transform: capitalize;
	text-align: center;
	background-color: var(--primary-color);
	border: 0.1rem solid var(--color);
	border-radius: var(--br);
	padding: 0.25rem 0.5rem;
	position: absolute;
	top: 50%;
	left: 50%;
	translate: calc(-50% + var(--x)) calc(-50% + var(--y));
}
