.footer {
	--color: var(--primary-color);
	--bg-color: var(--text-color);

	color: var(--color);
	background-color: var(--bg-color);
	padding-block: 5rem;
}

.footer__container {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	align-items: center;
}
.footer__copyright__icon {
	display: inline-block;
	margin-right: 0.3rem;
}
