@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

:root {
	/* Font sizes */
	--fs-xs: 0.8rem;
	--fs-s: 0.9rem;
	--fs: 1rem;
	--fs-l: 1.2rem;
	--fs-xl: 1.5rem;

	/* Colors */
	/*#region HSL values */
	--primary-color-values: 155 100% 100%;
	--primary-color-dark-values: 155 100% 90%;

	--secondary-color-values: 218 12% 95%;
	--secondary-color-dark-values: 218 12% 85%;

	--accent-color-values: 166 100% 43%;
	--accent-color-dark-values: 166 100% 33%;

	--text-color-values: 166 100% 10%;
	--text-color-light-values: 0 0% 50%;

	--success-color-values: 120 60% 55%;
	--success-color-dark-values: 120 60% 45%;

	--danger-color-values: 12 75% 55%;
	--danger-color-dark-values: 12 75% 45%;

	--info-color-values: 157 3% 75%;
	--info-color-dark-values: 157 3% 65%;

	--category-salary-color-values: 147 50% 50%;
	--category-salary-color-light-values: 147 50% 90%;

	--category-interest-color-values: 225 73% 50%;
	--category-interest-color-light-values: 225 73% 90%;

	--category-food-color-values: 120 61% 50%;
	--category-food-color-light-values: 120 61% 90%;

	--category-entertainment-color-values: 271 76% 50%;
	--category-entertainment-color-light-values: 271 76% 90%;

	--category-health-color-values: 348 83% 50%;
	--category-health-color-light-values: 348 83% 90%;

	--category-housing-color-values: 17 100% 50%;
	--category-housing-color-light-values: 17 100% 90%;

	--category-utilities-color-values: 207 44% 50%;
	--category-utilities-color-light-values: 207 44% 90%;

	--category-transportation-color-values: 33 100% 50%;
	--category-transportation-color-light-values: 33 100% 90%;

	--category-clothing-color-values: 330 100% 50%;
	--category-clothing-color-light-values: 330 100% 90%;

	--category-education-color-values: 45 100% 50%;
	--category-education-color-light-values: 51 100% 90%;

	--category-other-color-values: 0 0% 50%;
	--category-other-color-light-values: 0 0% 90%;

	--chart-color-1-values: 205 72% 53%;
	--chart-color-2-values: 29 100% 50%;
	--chart-color-3-values: 141 53% 53%;
	--chart-color-4-values: 340 82% 52%;
	--chart-color-5-values: 260 67% 60%;
	--chart-color-6-values: 48 89% 55%;
	--chart-color-7-values: 18 100% 67%;
	--chart-color-8-values: 192 100% 51%;
	--chart-color-9-values: 120 61% 34%;
	--chart-color-10-values: 350 100% 88%;
	/* #endregion */

	/*#region Genaral colors */
	--primary-color: hsl(var(--primary-color-values));
	--primary-color-dark: hsl(var(--primary-color-dark-values));

	--secondary-color: hsl(var(--secondary-color-values));
	--secondary-color-dark: hsl(var(--secondary-color-dark-values));

	--accent-color: hsl(var(--accent-color-values));
	--accent-color-dark: hsl(var(--accent-color-dark-values));

	--accent-color-gradient: hsl(182 100% 32%);

	--text-color: hsl(var(--text-color-values));
	--text-color-light: hsl(var(--text-color-light-values));

	--success-color: hsl(var(--success-color-values));
	--success-color-dark: hsl(var(--success-color-dark-values));

	--danger-color: hsl(var(--danger-color-values));
	--danger-color-dark: hsl(var(--danger-color-dark-values));

	--info-color: hsl(var(--info-color-values));
	--info-color-dark: hsl(var(--info-color-dark-values));

	/* Catgory colors */
	--category-salary-color: hsl(var(--category-salary-color-values));
	--category-salary-color-light: hsl(var(--category-salary-color-light-values));

	--category-interest-color: hsl(var(--category-interest-color-values));
	--category-interest-color-light: hsl(var(--category-interest-color-light-values));

	--category-food-color: hsl(var(--category-food-color-values));
	--category-food-color-light: hsl(var(--category-food-color-light-values));

	--category-entertainment-color: hsl(var(--category-entertainment-color-values));
	--category-entertainment-color-light: hsl(var(--category-entertainment-color-light-values));

	--category-health-color: hsl(var(--category-health-color-values));
	--category-health-color-light: hsl(var(--category-health-color-light-values));

	--category-housing-color: hsl(var(--category-housing-color-values));
	--category-housing-color-light: hsl(var(--category-housing-color-light-values));

	--category-utilities-color: hsl(var(--category-utilities-color-values));
	--category-utilities-color-light: hsl(var(--category-utilities-color-light-values));

	--category-transportation-color: hsl(var(--category-transportation-color-values));
	--category-transportation-color-light: hsl(var(--category-transportation-color-light-values));

	--category-clothing-color: hsl(var(--category-clothing-color-values));
	--category-clothing-color-light: hsl(var(--category-clothing-color-light-values));

	--category-education-color: hsl(var(--category-education-color-values));
	--category-education-color-light: hsl(var(--category-education-color-light-values));

	--category-other-color: hsl(var(--category-other-color-values));
	--category-other-color-light: hsl(var(--category-other-color-light-values));

	--chart-color-1: hsl(var(--chart-color-1-values));
	--chart-color-2: hsl(var(--chart-color-2-values));
	--chart-color-3: hsl(var(--chart-color-3-values));
	--chart-color-4: hsl(var(--chart-color-4-values));
	--chart-color-5: hsl(var(--chart-color-5-values));
	--chart-color-6: hsl(var(--chart-color-6-values));
	--chart-color-7: hsl(var(--chart-color-7-values));
	--chart-color-8: hsl(var(--chart-color-8-values));
	--chart-color-9: hsl(var(--chart-color-9-values));
	--chart-color-10: hsl(var(--chart-color-10-values));

	/* Gradients */
	--accent-gradient: linear-gradient(
		to bottom right,
		var(--accent-color),
		var(--accent-color-gradient)
	);
	/* #endregion */

	/* Border radius */
	--br-s: 0.25rem;
	--br: 0.5rem;
	--br-l: 1rem;
	--br-pill: 999rem;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	color: var(--text-color);
	background-color: var(--primary-color);
}
.body--fixed {
	position: fixed;
	padding-right: 15px;
}

button {
	font-family: inherit;
	font-size: 1rem;
	color: var(--text-color);
}

input,
textarea {
	font-family: inherit;
	font-size: 1rem;
	color: var(--text-color);
}

a {
	color: var(--accent-color);
}

.scrollbar::-webkit-scrollbar {
	width: 0.5rem;
	height: 0.5rem;
	background-color: var(--secondary-color);
	border-radius: var(--br-pill);
}
.scrollbar::-webkit-scrollbar-thumb {
	background-color: var(--info-color);
	border-radius: var(--br-pill);
}

@media screen and (max-width: 576px) {
	html {
		font-size: 14px;
	}
}
