.groupSidebar {
	background-color: var(--primary-color);
	border-right: 0.1rem solid var(--info-color);
	padding: 2rem 1rem;
}

.groupSidebar__name {
	margin-bottom: 2rem;
}

.groupSidebar__menu {
	list-style: none;
}

.groupSidebar__menu__divider {
	height: 1px;
	background-color: var(--secondary-color);
	border: none;
	margin-block: 0.5rem;
}

.groupSidebar__menu__item a {
	display: flex;
	gap: 1rem;
	text-decoration: none;
	color: var(--text-color);
	padding: 0.5rem 1rem;
	transition: color 200ms ease;
}
.groupSidebar__menu__item a:hover {
	color: var(--accent-color);
}

.groupSidebar__menu__item a svg {
	width: 1rem;
}

.groupSidebar__button {
	display: none;
	border-radius: 0 var(--br-pill) var(--br-pill) 0;
	opacity: 0.5;
	padding: 0.75rem 1rem;
	position: absolute;
	top: 2rem;
	left: 100%;
	cursor: pointer;
}

@media screen and (max-width: 768px) {
	.groupSidebar {
		position: fixed;
		top: 4rem;
		bottom: 0;
		z-index: 10;
		translate: -100% 0;
		transition: translate 300ms ease;
	}
	.groupSidebar--show {
		translate: 0 0;
	}

	.groupSidebar__button {
		display: flex;
	}

	.groupSidebar__button svg {
		transition: rotate 200ms ease;
	}
	.groupSidebar--show .groupSidebar__button svg {
		rotate: 180deg;
	}
}
